extends layouts/main-layout.pug

block content
    .wrapper-job  
        h1.heading Jobs  
        .row.grid-job
            .card.bg-dark.text-white.style-chose
                
                .card-img-overlay
                    h5.card-title Create New Job
                    p.card-text
                    | Enter a new Job
                    p.card-text Last updated 3 mins ago
            .card.bg-dark.text-white.style-chose
                
                .card-img-overlay
                    h5.card-title Active Jobs
                    p.card-text
                    | View Currently Ongoing Jobs
                    p.card-text Last updated 3 mins ago
            .card.bg-dark.text-white.style-chose
                
                .card-img-overlay
                    h5.card-title Pending Jobs
                    p.card-text
                    | View Jobs currently Queued.
                    p.card-text Last updated 3 mins ago
            .card.bg-dark.text-white.style-chose 
                
                .card-img-overlay
                    h5.card-title Completed Jobs
                    p.card-text
                    | View Recently Completed Jobs.
                    p.card-text Last updated 3 mins ago




