extends layouts/main-layout.pug



block content 
    .container
        h1.heading Staff
            
        .profiles
            .profile
                img.profile-img(src='/images/img1.jpg')
                h3.user-name Emmanuel Orji
                h5 Technical Staff
                p Age - 20
                    
            .profile
                img.profile-img(src='/images/img2.jpg')
                h3.user-name Joshua Ejiro
                h5 Staff
                p Age - 23
                    
            .profile
                img.profile-img(src='/images/img3.jpg')
                h3.user-name Sarah Oboh
                h5 Secretary
                p Age - 29
