include ../mixins/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/jobs.css")
        link(rel="stylesheet", href="/css/staff.css")
        
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css')

        

    body
        input#sidebar-toggle(type='checkbox')
        .sidebar
            .sidebar-header
                h3.brand
                    span.ti-unlink
                    span TecniKars
                label.ti-menu-alt(for='sidebar-toggle')
            .sidebar-menu
                ul
                    li
                        a(href='/')
                            span.ti-home
                            span Home
                    li
                        a(href='/staffs')
                            span.ti-face-smile
                            span Staff
                
                    
                    li
                        a(href='/jobs')
                            span.ti-folder
                            span Jobs
                    li
                        a(href='/duty Roster')
                            span.ti-time
                            span Duty Roster
                    li
                        a(href='/inventory')
                            span.ti-book
                            span Inventory
                    li
                        a(href='/account')
                            span.ti-settings
                            span Account

                    li
                        a(href='/logout')
                            span.ti-clipboard
                            span Log out
        .main-content
            block content 

                

                     
            
                                      


                     
                



        script(src='https://kit.fontawesome.com/ffd3f90199.js', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        
        script(src="/js/common.js")
